<div class="container">

    <picture class="profile-img">
      <img src="https://avatars.githubusercontent.com/u/14982190?v=4" />
    </picture>
    <h1>Brayan LP</h1>

    <div class="redes">
      <ul>
        <li>
          <a target="_blank" href="https://brayanlp.dev/">
            <i class="fab fa-facebook"></i>
          </a>
          <a target="_blank" href="https://www.instagram.com/brayanlpdev/">
            <i class="fab fa-instagram"></i>
          </a>
          <a target="_blank" href="https://www.youtube.com/channel/UCmjtTJCkvucbRtmlsND_aTQ">
            <i class="fab fa-youtube"></i>
          </a>
          <a target="_blank" href="https://linkedin.com/in/brayanlp">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="descripcion">
      <ul>
        <li>
          🔭 Estoy por lanzar mi primer emprendimiento: PRESTO.PE!!
        </li>
        <li>
          🌱 Actualmente estoy aprendiendo todo 🤣

        </li>
        <li>
          👯 Busco colaborar con otros creadores de contenido.

        </li>
        <li>
          🥅 Objetivos 2021: Sacar adelante mi empresa proiso.pe

        </li>
        <li>
          🥅 Objetivos 2020: Contribuir más a los proyectos de código abierto

        </li>
        <li>
          ⚡ Dato curioso: me encanta la domotica

        </li>
      </ul>
    </div> 
  </div>